@mixin centrar {
    display: flex;
}
@mixin logos {
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}
@mixin logos_hover ($cambio_color) {
    transform: scale(1.3,1.3);
    background-color: $cambio_color;
    border-radius: 1rem;
}