@mixin medidas_ind {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
@mixin aco_taper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin taper_hover {
    transform: scale(1.1,1.1);
    border: 3px solid black;
    transition: 0.5s;
    
}
@mixin logos {
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}
@mixin logos_hover ($cambio_color) {
    transform: scale(1.3,1.3);
    background-color: $cambio_color;
    border-radius: 1rem;
}