.lineas{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
main{
    .informacion{
        @include medidas_ind;
        h3,p{
            font-family: 'Tiro Gurmukhi', serif;
            text-align: center;
        }
    }
    .beneficios{
        overflow: hidden;
        @include medidas_ind;
        text-align: center;
    }
}